@charset "UTF-8";

/*
    Paleta de cores
    verde #49a09d
    Lilás: #5f2c82
*/

* {
    margin: 0px;
    padding: 0px;
  }

body {
    background-color: #5f2c82;
   
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
    }




section#login {
    width: 320px;
    height: 530px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    transition: width .4s, height .1s;
    transition-timing-function: ease;
}

label {
    display: none;
}




#formulario{
    display: block;
    padding: 10px;
    text-align: justify;
    
    
}



#imagem {
    display: block;
    background: url(../imagens/TI.jpg);
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}


#ibotao {
    background-color: #4CAF50; /* Cor de /fundo */
    margin-top: 10px;
    width: 100%;
    height: 40px;
    
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    font-size: 16px; /* Tamanho da fonte */
}


a {
    background-color: rgb(226, 255, 245);
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #4CAF50;
}


.itable { 
    background-color: #5f2c82;
    
    margin-top:  3px;
    width: 100%;
    height: 40px;
    border-radius: 9px;
    padding-bottom: 10px;
}
    

#ibotao:hover {
    background-color: #153115;
}

#ilogin{
    display: inline-block;
    background-color:#4CAF50;
    height: 40px;
    margin-left: 50px;
    width: calc(100% - 59px);
    transform: translateY(-44px);
    
    border-radius: 10px;
    padding: 2px;
}

#ipassword{
    display: inline-block;
    background-color:#4CAF50;
    height: 40px;
    margin-left: 50px;
    width: calc(100% - 59px);
    transform: translateY(-44px);
    
    border-radius: 10px;
    padding: 2px;
}



.material-symbols-outlined {
    display: inline-block;
    color: white;
    font-size: 2.5em !important;
    border-radius: 7px;
    
    padding: 1px;

    font-variation-settings:
      'FILL' 0,
      'wght' 50,
      'GRAD' 10,
      'opsz' 58;
  }